body{
	font-family: "Marker Felt", "Courier New";
  background: linear-gradient(#000033, #f0f0f0);
	background-size:100%;
	
	margin:0;
	border:0;
	padding:0;
	/*overflow: hidden;*/
}

a{
	color:#FF5050; 
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

#fightclub {
  background: url('./media/fightclub.jpg');
}

.topbar{
	background-color:#000000;
	margin:0;
	left:0;
	top:0;
	width:100%;
	height:100px;
	position:fixed;
}

.topbarcontent{
	width:700px;
	margin:0 auto;
  padding-top: 15px;
  color: white;
}

.right{
	float:right;
	list-style:none;
	display:inline;
}

.links{
	list-style: none;
	display:inline-block;
	letter-spacing:1px;
	padding-left:15px;
	padding-top:10px;
}

.maincontent{
	width:700px;
	margin:0 auto;
	margin-top:100px;
}

#carousel{
	width:700px;
	height:300px;
	overflow:hidden;
}

#carousel ul {
    width:700px;
    margin:0;
    padding:0;
}

#carousel ul li {
    width:100%;
    text-align:center;
    height:300px;
    list-style:none;
    float: left;
}

#i1,#i2,#i3{
	width:100%;
}

.player1{
  float:left;
}

.player1:hover{
  text-decoration:underline;
}

.player2{
  float:right;
}

.player2:hover{
  text-decoration:underline;
}

#p1, #p2, #feedback {
  background-color: #52CC52;
  cursor: pointer;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}

#submit:hover, #feedback:hover{
  background-color: #52CC52;
}

input, textarea, #p1, #p2, #feedback {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  font-size: 14px;
  outline: none;
  border: 1pt solid #ddd;
  font-family:'Calibri','Tahoma',sans-serif;
  letter-spacing:1px;
  /*for browser compatibility*/
  transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
}


input:focus, textarea:focus {
  border: 1pt solid #52CC52;
}

#winner {
  width:100%;
  background-color: teal;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border: 1pt solid #ddd;
  font-family:'Calibri','Tahoma',sans-serif;
  letter-spacing:1px;
  text-align: center;
  margin-top: 150px;
}

.bio {
	border: 5px solid white;
	padding: 10px 10px;
	border-radius: 25px;
	float: center;
	font-size: 25pt;
}

.pic {
	height: 500px;
	width: 500px;
	border-radius: 25px;
}